#footer {
    margin-bottom: 20px;
    margin-top: 50px;

    .infos {

        .title-infos {
            color: #03312E;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px;
        }

        .email {
            color: #667180;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 27.9px;
            /* 174.375% */
        }

        .adress {
            color: #667180;
            font-size: 16px;
            font-style: normal;
            font-weight: bold;
            line-height: 140%;
        }

        .socials {
            width: 21.4px;
            height: 21.4px;
            margin-right: 10px;
        }

        .link {
            color: #667180;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 27.9px;
        }
    }
}

#copyright {
    margin-top: 50px;

    h2 {
        color: #666E82;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 34px;
    }

    span {
        color: #1CD200;
        font-size: 16px;
        font-style: italic;
        font-weight: 700;
        line-height: 34px;
    }
}